<template>
  <div id="app">
    <canvas ref="canvas"></canvas>
    <div>Press 'SPACEBAR' to start/pause</div>
    <div>Press 'ESC' to quit/restart</div>
    <div><strong>Controls</strong></div>
    <div>W A S D or ↑ ← ↓ →</div>
    <div><button @click="startReplay">Replay</button></div>
    <select v-model="selectedHistoryIndex">
              <option disabled value="">Select replay</option>
              <option v-for="(replay, index) in replays">{{index}}</option>
          </select>
  </div>
</template>

<script>
import axios from 'axios'

import Grid from './classes/Grid.js'
import Snake from './classes/Snake.js'
import GameLoop from './classes/GameLoop.js'

export default {
  name: 'app',
  components: {},
  data () {
    return {
      canvas: null,
      ctx: null,
      grid: null,
      snake: null,
      apple: null,
      updates: null,
      isGameStarted: false,
      gameLoop: null,
      gridParams: {
        width: 40,
        height: 30,
        blockarea: 12,
        margin: 1
      },
      history: [],
      historyCache: [],
      replays: [],
      selectedHistoryIndex: null
    }
  },
  methods: {
    reciveHistory () {
      axios.get('//localhost:8081/history')
          .then((response) => {
            console.log(response.data.history, this)
            this.replays = response.data.history.map((el) => {
              return JSON.parse(el.history)
            })
          })
          .catch((error) => {
            console.log(error)
          })
          .then(() => {
            // always
          })
    },
    sendHistory (history) {
      axios.post('//localhost:8081/history', {
        history: JSON.stringify(history)
      })
          .then((response) => {
            console.log(response)
            this.reciveHistory()
          })
          .catch((error) => {
            console.log(error)
          })
    },
    drawApple () {
        // TODO Add positioning to free cell
      if (this.apple === null) {
        const x = Math.floor(Math.random() * (this.grid.width - 1))
        const y = Math.floor(Math.random() * (this.grid.height - 1))
        this.apple = {
          x,
          y
        }
      }
      this.grid.setPoint(this.apple, 'apple')
    },
    drawSnake () {
      this.snake.currentParts.forEach((part) => {
        this.grid.setPoint(part, 'snake')
      })
    },
    renderGame () {
      this.grid.generateDataSet()

      this.drawApple()

      this.snake.update()

      if (this.snake.collision(this.snake.head, this.apple)) {
        this.snake.grow()
        this.apple = null
      }

      if (this.snake.isAlive(this.gridParams.width, this.gridParams.height)) {
        this.drawSnake()
      }

      this.history.push(this.grid.currentDataset)

      this.grid.render()
    },
    renderReplay () {
      if (this.historyCache.length > 0) {
        this.grid.generateDataSet()
        this.grid.currentDataset = this.historyCache[0]
        this.grid.render()
        this.historyCache.shift()
      }
    },
    saveHistoryToReplays () {
      if (this.history.length > 0) {
        this.sendHistory(this.history)

          // this.replays.push([...this.history])
        this.history = []
      }
    },
    startNewGame () {
      this.saveHistoryToReplays()

      this.isGameStarted = false
      this.apple = null
      this.gameLoop = null

      this.grid = new Grid(this.gridParams, this.ctx)
      const centerX = Math.round((this.grid.width - 1) / 2)
      const centerY = Math.round((this.grid.height - 1) / 2)
      this.snake = new Snake([{
        x: centerX,
        y: centerY
      }], 'right')

      this.drawSnake()

      this.grid.render()

      this.gameLoop = new GameLoop(() => {
        if (this.snake.isAlive(this.gridParams.width, this.gridParams.height)) {
          this.renderGame()
        } else {
          this.gameLoop.pause()
          this.isGameStarted = false
          this.saveHistoryToReplays()
        }
      })
    },
    onKey (evt) {
      switch (evt.keyCode) {
        case 32:
          this.isGameStarted = !this.isGameStarted
          break
        case 37:
        case 65:
          this.snake.changeDirection('left')
          break
        case 39:
        case 68:
          this.snake.changeDirection('right')
          break
        case 38:
        case 87:
          this.snake.changeDirection('up')
          break
        case 40:
        case 83:
          this.snake.changeDirection('down')
          break
        case 27:
          if (this.gameLoop) {
            this.gameLoop.stop()
            this.startNewGame()
          }
          break
        default:
          break
      }
    },
    startReplay () {
      this.gameLoop = null
      if (this.isReplayMode && this.selectedHistoryIndex) {
        this.historyCache = [...this.replays[this.selectedHistoryIndex]]
        this.gameLoop = new GameLoop(() => {
          this.renderReplay()
        })
        this.gameLoop.start()
      }
    }
  },
  computed: {
    isReplayMode () {
      return this.history && !this.isGameStarted
    }
  },
  watch: {
    isGameStarted (val) {
      if (this.gameLoop) {
        val ? this.gameLoop.start() : this.gameLoop.pause()
      }
    }
  },
  mounted () {
    this.reciveHistory()

    this.canvas = this.$refs.canvas
    this.ctx = this.canvas.getContext('2d', {
      alpha: true
    })
    console.log(this.gridParams)
    this.canvas.width = this.gridParams.width * this.gridParams.blockarea
    this.canvas.height = this.gridParams.height * this.gridParams.blockarea

    this.startNewGame()
  },
  created () {
    window.addEventListener('keydown', this.onKey)
  },
  destroyed () {
    window.removeEventListener('keydown', this.onKey)
  }
}
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #014955;
    margin-top: 60px;
  }
</style>
